DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# List all tenant keys:
TENANTS='["wh_a","wh_b"]'

# Per-tenant connection details:
TENANT_WH_A_DISPLAY=
TENANT_WH_A_HOST=
TENANT_WH_A_PORT=
TENANT_WH_A_USER=
TENANT_WH_A_PASSWORD=
TENANT_WH_A_DATABASE=
#
TENANT_WH_B_DISPLAY=
TENANT_WH_B_HOST=
TENANT_WH_B_PORT=
TENANT_WH_B_USER=
TENANT_WH_B_PASSWORD=
TENANT_WH_B_DATABASE=


SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=
SUPERADMIN_NAME=

JWT_SECRET=
JWT_REFRESH_SECRET=

CORS_ORIGIN=

NODE_ENV=development